10-wireplumber.conf
dconf
htop
vifm
okular-generator-popplerrc
okularpartrc
mpd/log
go
flutter
gtk-3.0
qutebrowser
keepassxc
kdeglobals
pulse
vesktop/Crashpad/
vesktop/state.json
vesktop/sessionData/
vesktop/SingletonCookie
vesktop/SingletonLock
vesktop/SingletonSocket
